/* Universal Selection */

*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&family=Whisper&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.playwrite-cu{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

.whisper-regular{
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: italic;
}
/* Shared Style */

:root{
    --primary-text: white;
    --secondary-text:rgba(255, 255, 255, 0.5);
}
.bg-light{
    background-color: black;
    color: #ffffff;
}

.display-flex{
    display: flex;
}

.primary-color{
    color:#E6533C;
}

.secondary-color{
    color:#B9B9B9;
}

.btn-primary{
    padding:15px 40px;
    border-radius:42px;
    background-color: #E6533C;
    color: white;
    font-size: 1rem;
    border: none;
}

.btn-download{
    padding:15px 40px;
    border-radius:42px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
}

.bg-secondary{
    background-color:rgba(17, 17, 17, 1) ;
}
.gym-tips,
.navbar, 
.banner,
.habits,
.bmi-container,
.team-container, 
footer{
    max-width:60%;
    margin: 0 auto;
}

/* Nav-Bar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
}

.navbar>i{
    display: none;
}

.brand{
    font-size:3rem;
    font-weight:600;
    font-style: italic;
} 

.nav-link{
    gap: 30px;
    align-items: center;
}

.nav-items{
    list-style:none;
    margin-right: 10px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
    color: white;
}

.navbar ul li:first-child{
    background-color: #E6533C;
    padding: 5px 20px;
    border-radius: 42px;
}

.navbar>ul{
    border: 1px solid rgba(245, 245, 245, 0.466);
    border-radius: 42px;
    padding: 3px;
}


/* banner styles */

.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width:600px;
    line-height:110px;
}
.banner-title{
    color:var(--primary-text);
    font-size: 4.8rem;
}

.banner-description{
    line-height: 30px;
    color: var(--secondary-text);
}
            
.box{
 position: relative;
 
}
.box-1{
    font-size: 1rem;
    position: absolute;
    width: 110px;
    padding: 20px 25px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    top:120px;
    left:220px;
}
.dot{
    background-color: #E6533C;
    height:30px;
    width:30px;
    border-radius: 50%;
}
.box-2{
    width: 110px;
    font-size: 1rem;
    position: absolute;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    /* display: inline-block; */
    padding: 15px 30px;
    left: -90px;
    top:400px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.button{
    margin-top: 20px;
    gap: 10px;
}
/* Change Your Habits Section */

.habits{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.habit-title{
    font-size:3.3rem ;
}

.habit-description{
    max-width: 670px;
    margin: 20px auto;
    color: var(--secondary-text);
}

.habit-cards{
    justify-content: space-around;
}
.card{
    max-width: 230px;
    margin-top: 58px;
}
.card img{
    border-radius: 50%;
    border: 2px solid #B9B9B9;
}
.card-title{
    color: var(--primary-text);
    margin: 10px 0;
}
.card-description{
    color: var(--secondary-text);
}
/* BMI Chart Section */
.bmi-calculator{
    margin: 100px auto;
    background-color: #222222;
    padding: 50px 0 10px 0;
}

.bmi-chart h1{
    margin-bottom: 30px;
    width: 40%;
}
.bmi-chart table, th, td {
    padding: 10px;
    border: 1px solid var(--secondary-text);
    border-collapse: collapse;
    text-align: left;
    color: var(--secondary-text);
}

.bmi-chart table, th{
    color: white;
}

.bmi-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

}
.bmi-form h1{
    margin-bottom: 15px;
}

.bmi-form P{
    font-size: 14px;
    color: var(--secondary-text);
}
.bmi-form form{
    margin: 50px auto;
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    
}

input[type=text] {
    width: 100%;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color:var(--secondary-text);
    border-radius: 8px; 
    color: white;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1; 
  }


select {
    border-radius: 8px;
    width: 100%;
    color: rgba(255, 255, 255, 0.781);
    padding: 12px 20px;
    border: none;
    background-color: var(--secondary-text);
}

input[type=button], input[type=submit]{
    font-weight: 600;
    background-color: #E6533C;
    border: none;
    color: white;
    padding: 12px 50px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 42px;
}

#span{
    grid-column: span 2;
}

/* Run an Extra Mile Easily section*/

.gym-tips{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222222;
    gap: 184px;
    padding:50px;
    border-radius: 12px;
    margin: 100px auto;
}

.gym-tips-title{
    color: var(--primary-text);
    font-size: 3.2rem;
}

.gym-tips-description{
    color: var(--secondary-text);
    font-size: 1rem;
    margin: 20px 0;
    line-height:25px;
}


.gym-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}


/* Team Section */

.team-container{
    text-align: center;
}

.team-container h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.team-container p{
    font-size: 1rem;
    font-weight:400;
    color: var(--secondary-text);
    width: 670px;
    margin: 0 auto;
}

.our-team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #191919;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.our-team h4{
    font-size: 20px;
    font-weight: 600;
}

.our-team p{
    font-size: 14px;
    color: var(--secondary-text);
    font-weight: 200;
}

.team-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.team-1, 
.team-2, 
.team-3, 
.team-4, 
.team-5, 
.team-6{
    position: relative;
}

.info-1, 
.info-2, 
.info-3, 
.info-4, 
.info-5, 
.info-6{
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-align: left;
}


/* Footer Section Design */

.footer-container{
    margin: 100px auto;
    gap: 50px;
    justify-content: space-between;
}

.footer-content{
    max-width: 450px ;
}

.footer-content h1{
    font-size: 4.4rem;
    font-weight: 600;
    font-style: italic;
}

.footer-content p{
    font-size: 14px;
    line-height: 30px;
}

.menu{
    gap:60px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.footer-menu-1 li{
    list-style: none; 
    margin-top: 20px;
}

.footer-menu-1 a{
    text-decoration: none;
    color: var(--secondary-text);
    margin-top: 10px;
}

.footer-menu-2 li{
    list-style: none; 
    margin-top: 20px;
}

.footer-menu-2 a{
    text-decoration: none;
    color: var(--secondary-text);
    margin-top: 10px;
}

.copy-right{
    text-align: center;
    margin-bottom:30px;
    /* border-top: 1px solid var(--secondary-text); */
}

.copy-right h4{
    margin-top:50px;
    color: var(--secondary-text);
}

.line{
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-text);
}

/* Mobile Responsive */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
  .navbar>ul{
    display: none;
 }   
  
 .navbar>i{
    display:initial ;
    font-size: 25px;
 }

 .navbar{
    max-width: 100%;
    flex-direction: row;
 }
    /* Banner Section Responsive */
 .banner{
    max-width: 100%;
    flex-direction: column;
    margin: 0 20px;
 }

 .banner-title {
    color: var(--primary-text);
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 65px;
    margin-bottom: 20px;
 }

 .box-1{
    top:50px;
    left: 190px;
 }
 .box-2{
    left: -10px;
    top: 270px;
 }
 /* Habit Section Responsive */

 .habits{
    max-width: 100%;
 }

 .habit-title{
    font-size: 2rem;
 }
 .habit-description {
    line-height: 35px;
    width: 80%;
 }
 .habit-cards{
    gap:30px;
    flex-direction: column;
 }
 .card{
    margin: 0 auto;
 }
 /* gym tips section */
 .gym-tips{
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    margin: 100px 20px;
    max-width: 100%;
    gap: 50px;
 }

 .gym-tips-title{
    font-size: 2.2rem;
    font-weight: 800;
 }
 /* BMI Section */
 .bmi-form{
    margin: 20px 20px;
 }

 .bmi-form h1{
    margin: 10px 0;
    font-size: 1rem;
 }

 .bmi-container{
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
 }

 .bmi-chart{
    margin: 0 20px;
 }
 .bmi-chart h1{
    width: 100%;
    font-size: 1rem;
 }
 .bmi-form form{
    margin: 30px 0;
 }
 /* Team Section Responsive */
 .team-container{
    max-width: 90%;
 }
 .team-container h1{
    font-size: 2.2rem;
    font-weight: 800;
 }
 .team-container p{
    width: 80%;
 }
 .our-team{
    grid-template-columns: repeat(1, 1fr);
 }
 .team-1, .team-4{
    display: none;
 }

 footer{
    max-width: 100%;
 }

 .footer-container{
    margin: 100px 20px;
    flex-direction: column;
 }

 .menu{
    flex-direction: column;
    align-items: flex-start;
 }
 .copy-right{
    border: top width 80%;
 }
 .copy-right h4{
    font-size: 14px;
    margin-top: 30px;
 }
 .line{
    width: 90%;
 }

 .button{
    gap: 10px;
 }

 .btn-primary{
    padding: 15px 30px;
    font-size: 15px;
 }
 .btn-download{
    padding: 15px 30px;
    font-size: 15px;
 }
}
    
